/*
---------------------------------------------------------------------------
---------------------------- GENERAL --------------------------------------
---------------------------------------------------------------------------
*/
body {
	width: 1024px;
	text-align: center;
	margin: auto;
}

.ui-panelgrid .ui-panelgrid-cell {
	border-style: hidden;
	background-color: #ffffff;
	padding: 10px;
}

.ui-widget-content {
	color: #000000 !important;
	border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header, .ui-widget-header .ui-state-default, .ui-menu,
	.ui-menu .ui-menu-child {
	background-color: #e5ffba !important;
	border-color: #7f9e49 !important;
	color: #000000 !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.6),
		rgba(255, 255, 255, 0)) repeat scroll 0 0 #ffffff !important;
	box-shadow: 0 0 8px #ffffff !important;
}

.ui-state-hover {
	box-shadow: 0 0 8px #ffffff, 0 1px 0 #fff inset;
}

/*
---------------------------------------------------------------------------
----------------------------- TÍTULOS -------------------------------------
---------------------------------------------------------------------------
*/
.titulo {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.subtitulo {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

/*
---------------------------------------------------------------------------
------------------------------ LABELS -------------------------------------
---------------------------------------------------------------------------
*/
label {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	float: right;
}

/*
---------------------------------------------------------------------------
---------------------------- COMENTARIOS ----------------------------------
---------------------------------------------------------------------------
*/
.textComentarios {
	font-style: italic;
}

/*
---------------------------------------------------------------------------
--------------------------- PLACEHOLDERS ----------------------------------
---------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
	opacity: 0;
}

:-moz-placeholder {
	opacity: 0;
}

::-moz-placeholder {
	opacity: 0;
}

:-ms-input-placeholder {
	opacity: 0;
}

/*
---------------------------------------------------------------------------
------------------------------ INPUTS -------------------------------------
---------------------------------------------------------------------------
*/
input {
	height: 35px;
	width: 350px;
}

/*
---------------------------------------------------------------------------
----------------------------- TEXT AREAS ----------------------------------
---------------------------------------------------------------------------
*/
textarea {
	resize: none;
	width: 400px;
}

/*
---------------------------------------------------------------------------
------------------------------ BOTONES ------------------------------------
---------------------------------------------------------------------------
*/
.botonConTexto {
	width: 275px;
	height: 35px;
}

.botonSinTexto {
	width: 35px;
	height: 35px;
}

/*
---------------------------------------------------------------------------
------------------------------- LINKS -------------------------------------
---------------------------------------------------------------------------
*/
a {
	text-decoration: underline;
	color: blue !important;
	font-size: 12px !important;
}

/*
---------------------------------------------------------------------------
------------------------------ DIALOGOS -----------------------------------
---------------------------------------------------------------------------
*/
.dialogoPsiject {
	width: auto !important;
	max-width: 500px;
	text-align: justify;
}

/*
---------------------------------------------------------------------------
--------------------------- FORMULARIOS -----------------------------------
---------------------------------------------------------------------------
*/
form {
	margin-top: 30px;
}

form table {
	margin-left: auto;
	margin-right: auto;
}

/*
---------------------------------------------------------------------------
------------------------ PANEL DE USUARIO ---------------------------------
---------------------------------------------------------------------------
*/
.panelUsuarioForm{
	margin: 0px;
}

.panelUsuario {
	width: 100%;
}

.panelUsuario .ui-widget-content {
	border: none;
}

.panelUsuarioHome {
	float: left;
	height: 160px;
}

.panelUsuarioImagen {
	width: 300px;
}

.panelUsuarioUser {
	float: right;
	text-align: right;
	height: 160px;
}

.panelUsuarioTextoUser {
	font-family: Georgia;
	font-size: 36px;
	font-weight: bold;
}

.panelUsuarioTextoNombre {
	font-family: Georgia;
	font-size: 20px;
	font-style: oblique;
}

/*
---------------------------------------------------------------------------
---------------------------- CABECERA ------------------------------------
---------------------------------------------------------------------------
*/
.cabeceraForm {
	margin: 0px;
}

.cabecera {
	width: 100%;
}

.cabeceraImagen {
	width: 300px;
}

/*
---------------------------------------------------------------------------
------------------------ PANEL DE ACCIONES --------------------------------
---------------------------------------------------------------------------
*/
.panelAcciones {
	border-style: hidden;
	background-color: #ffffff;
}

/*
---------------------------------------------------------------------------
---------------------- TABLA DE EXPEDIENTES -------------------------------
---------------------------------------------------------------------------
*/
.tablaExpedientes {
	border: none !important;
	padding: 0px !important;
	margin-bottom: 20px;
}

.tablaExpedientes ul {
	background-color: #FFFFFF !important;
	border: none !important;
}

.tablaExpedientes ul .ui-state-default {
	background-color: #E5FFBA !important;
}

.tablaExpedientes ul .ui-state-default:hover {
	background-color: #36FF35 !important;
}

.tablaExpedientes ul .ui-state-active {
	background-color: #FFFFFF !important;
}

.tablaExpedientes ul .ui-state-active:hover {
	background-color: #FFFFFF !important;
}

.tablaExpedientes ul a {
	color: #000000 !important;
}

.tablaExpedientes .ui-tabs-panels, .tablaExpedientes .ui-tabs-panel,
	.tablaExpedientes .ui-tabs {
	padding: 0px !important;
}

/*
---------------------------------------------------------------------------
------------------------------ TAREA --------------------------------------
---------------------------------------------------------------------------
*/
.tituloTarea {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.iconoTareaImportante {
	width: 20px;
	height: 20px;
}

.iconoNuevaTarea {
	width: 30px;
	height: 30px;
}

.iconoNuevoComentario {
	width: 30px;
	height: 30px;
}

.iconoNuevoComentarioTabla {
	width: 30px;
	height: 30px;
	float: left;
}

/*
---------------------------------------------------------------------------
------------------------- TABLA DE TAREAS ---------------------------------
---------------------------------------------------------------------------
*/
.tablaTareas {
	border: none !important;
	padding: 0px !important;
	margin-bottom: 20px;
}

.tablaTareas ul {
	background-color: #FFFFFF !important;
	border: none !important;
}

.tablaTareas ul .ui-state-default {
	background-color: #E5FFBA !important;
}

.tablaTareas ul .ui-state-default:hover {
	background-color: #36FF35 !important;
}

.tablaTareas ul .ui-state-active {
	background-color: #FFFFFF !important;
}

.tablaTareas ul .ui-state-active:hover {
	background-color: #FFFFFF !important;
}

.tablaTareas ul a {
	color: #000000 !important;
}

.tablaTareas .ui-tabs-panels, .tablaTareas .ui-tabs-panel, .tablaTareas .ui-tabs
	{
	padding: 0px !important;
}

.tablaTareas .colorTareaImportante {
	background-color: #FFB0B0 !important;
}

/*
---------------------------------------------------------------------------
---------------------- TABLA DE COMENTARIOS -------------------------------
---------------------------------------------------------------------------
*/
.tablaComentariosForm {
	width: 100%; 
	height: 100%; 
	overflow: auto;
}

.tablaComentarios {
	display: table-cell;
	min-width: 220px;
	border-style: solid;
	border-width: 1px;
	border-color: #7f9e49
}

.tablaComentarios tbody tr {
	height: 100px;
}

.tablaComentarios tbody tr td span {
	display: block;
	font-size: 12px;
	font-style: italic;
	margin-left: 5px;
	max-height: 97px;
	overflow: auto;
}

/*
---------------------------------------------------------------------------
---------------------- WIZARD PARA COMENTAR -------------------------------
---------------------------------------------------------------------------
*/
.ui-wizard-content {
	margin: 15px 0;
	text-align: center;
}

/*
---------------------------------------------------------------------------
------------------------------- MOSCA -------------------------------------
---------------------------------------------------------------------------
*/
#mosca {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

#mosca div {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	height: 100px;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px;
	position: fixed;
	top: 50%;
	width: 200px;
}

#mosca div img {
	height: 64px;
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	position: fixed;
	top: 50%;
	width: 64px;
}

/*
---------------------------------------------------------------------------
------------------------------ ALERTAS ------------------------------------
---------------------------------------------------------------------------
*/
.ui-growl {
	text-align: center;
}

.ui-growl-item-container {
	opacity: 1;
	border: 2px solid;
	box-shadow: 0 3px 7px;
	background-color: #E5FFBA;
	filter: none;
}

.ui-growl-title {
	display: none;
}

/*
---------------------------------------------------------------------------
---------------------------- SUGERENCIAS ----------------------------------
---------------------------------------------------------------------------
*/
#feedback {
	bottom: 5px;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 5px;
	width: 140px;
	z-index: 2000;
}

#feedback img {
	height: 40px;
	width: 140px;
}