/*
---------------------------------------------------------------------------
-------------------------- FORMULARIOS ------------------------------------
---------------------------------------------------------------------------
*/
form {
	margin-top: 30px;
}

form table {
	margin-left: auto;
	margin-right: auto;
}

/*
---------------------------------------------------------------------------
------------------------------ INPUTS -------------------------------------
---------------------------------------------------------------------------
*/
input {
	font-size: 20px !important;
	height: 30px;
	width: 275px;
}

/*
---------------------------------------------------------------------------
----------------------------- TEXT AREAS ----------------------------------
---------------------------------------------------------------------------
*/
textarea {
	resize: none;
	height: 80px;
	width: 275px;
}

/*
---------------------------------------------------------------------------
--------------------------- PLACEHOLDERS ----------------------------------
---------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
	color: #777777;
	opacity: 1;
}

:-moz-placeholder {
	color: #777777;
	opacity: 1;
}

::-moz-placeholder {
	color: #777777;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #777777;
	opacity: 1;
}

/*
---------------------------------------------------------------------------
------------------------------ BOTONES ------------------------------------
---------------------------------------------------------------------------
*/
.botonConTexto {
	width: 275px;
	height: 35px;
}

.botonSinTexto {
	width: 35px;
	height: 35px;
	background: transparent none repeat scroll 0% 0% !important;
	border: medium none !important;
	box-shadow: none !important;
}

.botonSinTexto span {
	font-size: 20px;
}

/*
---------------------------------------------------------------------------
------------------------------- LINKS -------------------------------------
---------------------------------------------------------------------------
*/
a {
	text-decoration: underline;
	color: blue !important;
	font-size: 20px !important;
}