/*
---------------------------------------------------------------------------
-------------------------- FORMULARIOS ------------------------------------
---------------------------------------------------------------------------
*/
form {
	margin-top: 30px;
}

form table {
	margin-left: auto;
	margin-right: auto;
}

form .panelLogin {
	width: auto;
}

/*
---------------------------------------------------------------------------
------------------------------ INPUTS -------------------------------------
---------------------------------------------------------------------------
*/
input {
	font-size: 20px !important;
	height: 30px;
	width: 275px;
}

/*
---------------------------------------------------------------------------
----------------------------- TEXT AREAS ----------------------------------
---------------------------------------------------------------------------
*/
textarea {
	resize: none;
	height: 80px;
	width: 275px;
}

/*
---------------------------------------------------------------------------
--------------------------- PLACEHOLDERS ----------------------------------
---------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
	color: #777777;
	opacity: 1;
}

:-moz-placeholder {
	color: #777777;
	opacity: 1;
}

::-moz-placeholder {
	color: #777777;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #777777;
	opacity: 1;
}

/*
---------------------------------------------------------------------------
------------------------------ BOTONES ------------------------------------
---------------------------------------------------------------------------
*/
.botonera {
	text-align: right;
}

.botonera .botonVolverAtras {
	float: left;
}

.botonVolverFormulario {
	float: left;
	margin-top: -30px;
}

.botonEnviarFormulario {
	float: right;
}

.botonConTexto {
	font-size: 12px !important;
	height: 35px;
	width: 120px;
}

.botonConTexto span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.botonSinTexto {
	width: 35px;
	height: 35px;
}

.botonIcono {
	margin-left: 5px;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	line-height: 5px;
	text-align: center;
}

/*
---------------------------------------------------------------------------
------------------------------- LINKS -------------------------------------
---------------------------------------------------------------------------
*/
a {
	text-decoration: underline;
	color: blue !important;
	font-size: 12px !important;
}

.hipervinculoLogin {
	float: right;
}