@import url("alertas.css");
@import url("cabeceras.css");
@import url("dialogos.css");
@import url("formularios.css");
@import url("general.css");
@import url("iconos.css");
@import url("mosca.css");
@import url("paneles.css");
@import url("sugerencias.css");
@import url("tablas.css");
@import url("textos.css");
