/*
---------------------------------------------------------------------------
---------------------------- EXPEDIENTE -----------------------------------
---------------------------------------------------------------------------
*/
.panelExpedienteIzq {
	width: 100%;
	height: 130px;
}

.panelExpedienteDer {
	width: 100%;
	height: 130px;
}

.panelAltaExpedienteIzq {
	width: 100%;
	height: 150px;
}

.panelAltaExpedienteDer {
	width: 100%;
	height: 150px;
}

/*
---------------------------------------------------------------------------
------------------------------- TAREA -------------------------------------
---------------------------------------------------------------------------
*/
.panelTareaPsicologo {
	width: 100%;
	height: 170px;
}

.panelTareaPaciente {
	width: 100%;
	height: 170px;
}

.panelNuevaTareaIzq {
	width: 100%;
	height: 280px;
}

.panelNuevaTareaDer {
	width: 100%;
	height: 280px;
}

/*
---------------------------------------------------------------------------
------------------------- CONFIGURAR CUENTA -------------------------------
---------------------------------------------------------------------------
*/
.panelConfigurarCuentaIzq {
	width: 100%;
	height: 190px;
}

.panelConfigurarCuentaDer {
	width: 100%;
	height: 190px;
}