/*
---------------------------------------------------------------------------
---------------------------- SUGERENCIAS ----------------------------------
---------------------------------------------------------------------------
*/
#feedback {
	bottom: 5px;
	cursor: pointer;
	height: 40px;
	position: fixed;
	right: 5px;
	width: 140px;
	z-index: 2000;
}

#feedback img {
	height: 40px;
	width: 140px;
}