/*
---------------------------------------------------------------------------
------------------------------ TABS ---------------------------------------
---------------------------------------------------------------------------
*/
.ui-tabs {
	margin-top: 20px;
	padding: 0;
}

.ui-tabs ul {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-tabs-selected a {
	cursor: default !important;
}

.ui-tabs ul .ui-state-default {
	background-color: #E5FFBA !important;
}

.ui-tabs ul .ui-state-default:hover {
	background-color: #36FF35 !important;
}

.ui-tabs ul .ui-state-active {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-state-active:hover {
	background-color: #FFFFFF !important;
}

.ui-tabs ul a {
	color: #000000 !important;
	font-size: 12px !important;
}

.ui-tabs .ui-tabs-panels, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs {
	padding: 0px !important;
}

/*
---------------------------------------------------------------------------
------------------------------ TABLAS -------------------------------------
---------------------------------------------------------------------------
*/
.tabla thead {
	display: none;
}

.tabla .columnaOcultaMovil {
	display: none;
}

.tabla .columnaDatos {
	font-size: 12px;
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

.tabla .columnaBoton {
	width: 15%;
	min-width: 25px;
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

.tabla .ui-datatable-empty-message td {
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

/*
---------------------------------------------------------------------------
------------------------- TABLA DE TAREAS ---------------------------------
---------------------------------------------------------------------------
*/
.colorTareaImportante {
	background: none repeat scroll 0 0 #F5A9A9;
}

/*
---------------------------------------------------------------------------
------------------------- TABLA DE CAMPOS ---------------------------------
---------------------------------------------------------------------------
*/
.tablaCampos {
	margin-top: 20px;
}

/*
---------------------------------------------------------------------------
---------------------- TABLA DE COMENTARIOS -------------------------------
---------------------------------------------------------------------------
*/
.tablaComentarios {
	width: 100%;
	max-height: 400px;
	overflow: auto;
}

.tablaComentarios .tablaComentariosIn {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.tablaComentarios .tabla {
	display: table-cell;
}

.tablaComentarios .tabla table {
	table-layout: auto;
}

.tablaComentarios thead {
	display: table-header-group;
}

.tablaComentarios thead span{
	cursor: default;
	display: inline-block;
	min-height: 20px;
	height: 20px;
	min-width: 100px;
	width: 100px;
	overflow: hidden;
	word-wrap: break-word;
}

.tablaComentarios tbody tr {
	min-height: 175px;
	height: 175px;
}

.tablaComentarios tbody span {
	cursor: default;
	display: inline-block;
	min-height: 120px;
	height: 120px;
	min-width: 100px;
	width: 100px;
	margin: 5px 5px 0;
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
}

.tablaComentarios tbody button span {
	height: 16px;
	width: 16px;
	min-height: 16px;
	min-width: 16px;
}

.tablaComentarios .iconoNuevoComentarioTabla {
	float: left;
	height: 20px;
	margin-bottom: -15px;
	margin-left: -12px;
	margin-top: -5px;
	width: 20px;
}