/*
---------------------------------------------------------------------------
------------------------------ TABS ---------------------------------------
---------------------------------------------------------------------------
*/
.ui-tabs {
	margin: 20px 0;
	padding: 0;
}

.ui-tabs ul {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-state-default {
	background-color: #E5FFBA !important;
}

.ui-tabs ul .ui-state-default:hover {
	background-color: #36FF35 !important;
}

.ui-tabs ul .ui-state-active {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-state-active:hover {
	background-color: #FFFFFF !important;
}

.ui-tabs ul a {
	color: #000000 !important;
	font-size: 12px !important;
}

.ui-tabs .ui-tabs-panels, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs {
	padding: 0px !important;
}

/*
---------------------------------------------------------------------------
------------------------------ TABLAS -------------------------------------
---------------------------------------------------------------------------
*/
.tabla {
	margin: 0px 0px 20px;
}

.tabla thead {
	display: none;
}

.tabla .columnaOcultaMovil {
	display: none;
}

.tabla .columnaDatos {
	font-size: 12px;
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

.tabla .columnaBoton {
	width: 25px;
	min-width: 25px;
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

.tabla .ui-datatable-empty-message td {
	border-top: 1px solid #7F9E49 !important;
	border-bottom: 1px solid #7F9E49 !important;
	border-left: none !important;
	border-right: none !important;
}

/*
---------------------------------------------------------------------------
------------------------- TABLA DE TAREAS ---------------------------------
---------------------------------------------------------------------------
*/
.colorTareaImportante{
	background: none repeat scroll 0 0 #F5A9A9;
}

/*
---------------------------------------------------------------------------
---------------------- TABLA DE COMENTARIOS -------------------------------
---------------------------------------------------------------------------
*/
.tablaComentarios {
	width: 100%;
	height: 100%;
	overflow: auto;
}