/*
---------------------------------------------------------------------------
--------------------------- INFORMACIÓN -----------------------------------
---------------------------------------------------------------------------
*/
.informacionPersonalExpediente {
	width: 100%;
	height: 130px;
}

.informacionPsicologosExpediente {
	width: 100%;
	height: 130px;
}

.informacionTarea {
	width: 100%;
	height: 170px;
}

.informacionDatosCuenta {
	width: 100%;
	height: 190px;
}

.informacionContrasenaCuenta {
	width: 100%;
	height: 190px;
}

/*
---------------------------------------------------------------------------
----------------------------- TÍTULOS -------------------------------------
---------------------------------------------------------------------------
*/
.titulo {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
	font-family:Georgia, serif;
}

.subtitulo {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

/*
---------------------------------------------------------------------------
------------------------------ LABELS -------------------------------------
---------------------------------------------------------------------------
*/
label {
	display: none;
}