/*
---------------------------------------------------------------------------
--------------------------- INFORMACIÓN -----------------------------------
---------------------------------------------------------------------------
*/
.informacionPersonalExpediente {
	width: 100%;
}

.psicologosExpediente {
	width: 100%;
}

.informacionTarea {
	width: 100%;
}

.informacionDatosCuenta {
	width: 100%;
}

.informacionContrasenaCuenta {
	width: 100%;
}

/*
---------------------------------------------------------------------------
----------------------------- TÍTULOS -------------------------------------
---------------------------------------------------------------------------
*/
.titulo {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.subtitulo {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

/*
---------------------------------------------------------------------------
------------------------------ LABELS -------------------------------------
---------------------------------------------------------------------------
*/
label {
	display: none;
}