/*
---------------------------------------------------------------------------
------------------------------ DIALOGOS -----------------------------------
---------------------------------------------------------------------------
*/
.dialogoPsiject {
	width: auto !important;
	max-width: 500px;
	text-align: justify;
}

/*
---------------------------------------------------------------------------
----------------------------- WIZARD --------------------------------------
---------------------------------------------------------------------------
*/
.ui-wizard-content {
	margin: 15px 0;
	text-align: center;
}