/*
---------------------------------------------------------------------------
--------------------------- FORMULARIOS -----------------------------------
---------------------------------------------------------------------------
*/
form {
	margin-top: 30px;
}

form table {
	margin-left: auto;
	margin-right: auto;
}

form .panelGeneral {
	width: auto;
}

/*
---------------------------------------------------------------------------
------------------------------ INPUTS -------------------------------------
---------------------------------------------------------------------------
*/
input {
	height: 25px;
	width: 300px;
}

/*
---------------------------------------------------------------------------
----------------------------- TEXT AREAS ----------------------------------
---------------------------------------------------------------------------
*/
textarea {
	resize: none;
	height: 100px;
	width: 300px;
}

/*
---------------------------------------------------------------------------
--------------------------- PLACEHOLDERS ----------------------------------
---------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
	opacity: 0;
}

:-moz-placeholder {
	opacity: 0;
}

::-moz-placeholder {
	opacity: 0;
}

:-ms-input-placeholder {
	opacity: 0;
}

/*
---------------------------------------------------------------------------
----------------------------- CHECK BOX -----------------------------------
---------------------------------------------------------------------------
*/
.checkBox {
	float: left;
	width: 40px;
	height: 30px;
	margin: 0px;
}

.checkBoxLabelMovil {
	display: none;
}

/*
---------------------------------------------------------------------------
------------------------------ BOTONES ------------------------------------
---------------------------------------------------------------------------
*/
.botonera {
	text-align: right;
}

.botonera .botonVolverAtras {
	float: left;
}

.botonVolverFormulario {
	float: left;
}

.botonEnviarFormulario {
	float: right;
}

.botonConTexto {
	font-size: 12px !important;
	height: 35px;
	width: 175px;
}

.botonConTexto span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.botonSinTexto {
	width: 35px;
	height: 35px;
}

.botonIcono {
	margin-left: 5px;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	line-height: 5px;
	text-align: center;
}

/*
---------------------------------------------------------------------------
-------------------------- BOTONES WIZARD ---------------------------------
---------------------------------------------------------------------------
*/
.ui-wizard-nav-back {
	font-size: 12px !important;
	height: 35px;
	width: 120px;
}

.ui-wizard-nav-back span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.ui-wizard-nav-next {
	font-size: 12px !important;
	height: 35px;
	width: 120px;
}

.ui-wizard-nav-next span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/*
---------------------------------------------------------------------------
------------------------------- LINKS -------------------------------------
---------------------------------------------------------------------------
*/
a {
	text-decoration: underline;
	color: blue !important;
	font-size: 12px !important;
}

.hipervinculoLogin {
	float: right;
}

/*
---------------------------------------------------------------------------
----------------------------- PICK LIST -----------------------------------
---------------------------------------------------------------------------
*/
.ui-picklist .ui-picklist-list {
	border: 1px solid #7F9E49;
	border-radius: 0px 0px 3px 3px;
}

.ui-picklist .ui-picklist-list .ui-picklist-item {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}