/*
---------------------------------------------------------------------------
--------------------------- FORMULARIOS -----------------------------------
---------------------------------------------------------------------------
*/
form {
	margin-top: 30px;
}

form table {
	margin-left: auto;
	margin-right: auto;
}

/*
---------------------------------------------------------------------------
------------------------------ INPUTS -------------------------------------
---------------------------------------------------------------------------
*/
input {
	height: 25px;
	width: 300px;
}

/*
---------------------------------------------------------------------------
----------------------------- TEXT AREAS ----------------------------------
---------------------------------------------------------------------------
*/
textarea {
	resize: none;
	height: 100px;
	width: 300px;
}

/*
---------------------------------------------------------------------------
--------------------------- PLACEHOLDERS ----------------------------------
---------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
	opacity: 0;
}

:-moz-placeholder {
	opacity: 0;
}

::-moz-placeholder {
	opacity: 0;
}

:-ms-input-placeholder {
	opacity: 0;
}

/*
---------------------------------------------------------------------------
------------------------------ BOTONES ------------------------------------
---------------------------------------------------------------------------
*/
.botonera {
	text-align: right;
}

.botonera .botonVolverAtras {
	float: left;
}

.botonVolverFormulario {
	float: left;
}

.botonEnviarFormulario {
	float: right;
}

.botonConTexto {
	font-size: 12px !important;
	height: 35px;
	width: 175px;
}

.botonConTexto span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.botonSinTexto {
	width: 35px;
	height: 35px;
}

.botonIcono {
	margin-left:5px;
	width: 25px;
	height: 25px;
	border-radius: 50px;
	line-height: 5px;
	text-align: center;
}

/*
---------------------------------------------------------------------------
------------------------------- LINKS -------------------------------------
---------------------------------------------------------------------------
*/
a {
	text-decoration: underline;
	color: blue !important;
	font-size: 12px !important;
}