/*
---------------------------------------------------------------------------
------------------------------ TABS ---------------------------------------
---------------------------------------------------------------------------
*/
.ui-tabs {
	margin-top: 20px;
	padding: 0;
}

.ui-tabs ul {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-tabs-selected a {
	cursor: default !important;
}

.ui-tabs ul .ui-state-default {
	background-color: #E5FFBA !important;
}

.ui-tabs ul .ui-state-default:hover {
	background-color: #36FF35 !important;
}

.ui-tabs ul .ui-state-active {
	background-color: #FFFFFF !important;
}

.ui-tabs ul .ui-state-active:hover {
	background-color: #FFFFFF !important;
}

.ui-tabs ul a {
	color: #000000 !important;
	font-size: 12px !important;
}

.ui-tabs .ui-tabs-panels, .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs {
	padding: 0px !important;
}

/*
---------------------------------------------------------------------------
------------------------------ TABLAS -------------------------------------
---------------------------------------------------------------------------
*/
.tabla .columnaOcultaMovil {
	width: 150px;
	font-size: 16px;
	border: 1px solid #7F9E49 !important;
}

.tabla .columnaDatos {
	width: 150px;
	font-size: 16px;
	border: 1px solid #7F9E49 !important;
}

.tabla .columnaBoton {
	width: 50px;
	min-width: 50px;
	border: 1px solid #7F9E49 !important;
}

.tabla .ui-datatable-empty-message td {
	border: 1px solid #7F9E49 !important;
}

/*
---------------------------------------------------------------------------
------------------------- TABLA DE TAREAS ---------------------------------
---------------------------------------------------------------------------
*/
.colorTareaImportante {
	background: none repeat scroll 0 0 #F5A9A9;
}

/*
---------------------------------------------------------------------------
---------------------- TABLA DE COMENTARIOS -------------------------------
---------------------------------------------------------------------------
*/
.tablaComentarios {
	max-height: 1000px;
	max-width: 1000px;
	overflow: auto;
}

.tablaComentarios .tabla {
	display: table-cell;
	width: 220px;
}

.tablaComentarios tbody {
	min-height: 160px;
	height: 160px;
}

.tablaComentarios tbody span {
	cursor: default;
	display: inline-block;
	min-height: 120px;
	height: 120px;
	width: 100%;
	margin: 5px 5px 0;
	overflow: hidden;
	text-align: justify;
	word-wrap: break-word;
}

.tablaComentarios tbody button span {
	height: 16px;
	width: 16px;
	min-height: 16px;
	min-width: 16px;
}

.tablaComentarios .iconoNuevoComentarioTabla {
	float: left;
	height: 20px;
	margin-bottom: -15px;
	margin-left: -12px;
	margin-top: -5px;
	width: 20px;
}