/*
---------------------------------------------------------------------------
--------------------------- INFORMACIÓN -----------------------------------
---------------------------------------------------------------------------
*/
.informacionPersonalExpediente {
	float: left;
	width: 50%;
}

.informacionPsicologosExpediente {
	float: right;
	width: 50%;
}

.informacionTarea {
	width: 100%;
}

.informacionDatosCuenta {
	float: left;
	width: 50%;
}

.informacionContrasenaCuenta {
	float: right;
	width: 50%;
}

/*
---------------------------------------------------------------------------
----------------------------- TÍTULOS -------------------------------------
---------------------------------------------------------------------------
*/
.titulo {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.subtitulo {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

/*
---------------------------------------------------------------------------
------------------------------ LABELS -------------------------------------
---------------------------------------------------------------------------
*/
label {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	float: right;
}