/*
---------------------------------------------------------------------------
----------------------------- TÍTULOS -------------------------------------
---------------------------------------------------------------------------
*/
.titulo {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

.subtitulo {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

/*
---------------------------------------------------------------------------
------------------------------ LABELS -------------------------------------
---------------------------------------------------------------------------
*/
label {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	float: right;
}